.toggle_buttons_container{
	cursor: pointer;
	font-size: 12px ; 
	font-weight:  bold;
	padding-right: 6px; 
	padding-left: 15px; 
	padding-top: 10px;
	padding-bottom: 10px;
	background: #000; 
	color: #fff; 
	border-radius: 30px;
}

.toggle_buttons_styling{	
	border-radius: 30px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
}


.toggle_buttons_active_color{
	background: #ffcc00;
	color: #000;
}